<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>08-vue指令watch</title>
</head>
<body>
<div id="app">
  <input type="text" v-model="message" /><br/>
  <input type="text" v-model="user.name" />
</div>
<script src="./js/vue.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el:"#app",
    data:{
      message:"",
      user:{
        name : "",
        age : 1
      }
    },
    watch:{//当与函数名相同的数据发生变化时，该函数会被调用
      message(newVal, oldVal){
        console.log("发送数据到后台："+"新数据"+newVal+"旧数据"+ oldVal);
      },
      "user.name"(newVal, oldVal){
        console.log("发送数据到后台："+"新数据"+newVal+"旧数据"+ oldVal);
      }
    }
  })
</script>
</body>
</html>